<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cassandra.LinqPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cassandra.LinqPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cassandra.LinqPad.Properties.Settings>
            <setting name="ErrorURIIcon16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Error16.png</value>
            </setting>
            <setting name="InfoURIIcon16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Information16.png</value>
            </setting>
            <setting name="HostNodeInfoToolTip" serializeAs="String">
                <value>Press the Add button to add this node to the connection list.</value>
            </setting>
            <setting name="OKURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/OK16.png</value>
            </setting>
            <setting name="AlertURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Alerts16.png</value>
            </setting>
            <setting name="NetworkURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Network16.png</value>
            </setting>
            <setting name="UPURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Move Up (Arrow) Green16.png</value>
            </setting>
            <setting name="DownURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Move Down (Arrow) Red16.png</value>
            </setting>
            <setting name="PlugInURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Plugin16.png</value>
            </setting>
            <setting name="NextConnectionToolTip" serializeAs="String">
                <value>Click Next to Select Keyspace and Table</value>
            </setting>
            <setting name="CQLPort" serializeAs="String">
                <value>9042</value>
            </setting>
        </Cassandra.LinqPad.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Cassandra.LinqPad.Properties.Settings>
            <setting name="QeuryURI16" serializeAs="String">
                <value>pack://siteoforigin:,,,/Resources/Query16.png</value>
            </setting>
        </Cassandra.LinqPad.Properties.Settings>
    </userSettings>
</configuration>